@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 0;
  background-color: rgb(246, 242, 242);
  margin: 0;
}

html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* stying of tabs */

h1 {
  font-size: 48px;
  color: #232c3d;
}

.wrapper {
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.buttonWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

button {
  letter-spacing: 3px;
  border: none;
  padding: 10px;
  background-color: #bccbe9;
  color: #232c3d;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: #d5e3ff;
}

button.active {
  background-color: white;
}

.active {
  background-color: white;
}

p {
  text-align: left;
  padding: 10px;
}

.content {
  display: none;
  padding: 10px 20px;
}

.content.active {
  display: block;
}
/* end */
.input_icon {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.input {
  border: none;
  outline: none;
  display: flex;
  flex-grow: 0.9;
}

/* bg-image */
.bg-img {
  background-image: url("https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODJ8fGJhY2tncm91bmQlMjBpbWd8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60");
  padding-bottom: 200px;
  padding-top: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*/////  */

/* input field */
.profile {
  width: 100px;
  height: 100px;
}
.profile img {
  border-radius: 50%;
}

.input_icon {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.input {
  border: none;
  outline: none;
  display: flex;
  flex-grow: 0.9;
}

/* /////////////// */
